In [ ]:
# Continuation with Pandas...

In [1]:
import numpy as np
import pandas as pd

In [ ]:
Introduction to dataframe in pandas...
overview : It is a two dimensional data type in a tabular format.

In [2]:
data = {'apples':[3,2,0,1],'oranges':[0,3,7,2]} # Raw data that has been provided initially

In [6]:
purchases = pd.DataFrame(data)

purchases

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [ ]:
# Req : I need to add custom indexes to it.

In [9]:
purchases = pd.DataFrame(data, index = ['basith','mitra','madhavi','ujwal'])

purchases

         apples  oranges
basith        3        0
mitra         2        3
madhavi       0        7
ujwal         1        2

In [ ]:
# I want to locate madhavi's purchases

In [10]:
purchases.loc['madhavi']

apples     0
oranges    7
Name: madhavi, dtype: int64

In [11]:
purchases.loc['mitra']

apples     2
oranges    3
Name: mitra, dtype: int64

In [ ]:
# Moving on the data  sets implementations ==> Email

In [ ]:
# Reading the data from csv file 

# Comma Separated Files are called as CSV.

In [12]:
df = pd.read_csv('purchases.csv')

df

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

In [17]:
df = pd.read_csv('purchases.csv', index_col=0)

df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [ ]:
# File FOrmat ---> JSON --> Key Value Pair  Combination

# JSON stands for  javascript object notion

In [18]:
df = pd.read_json('purchases.json')

df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [ ]:
# Raw Data 

# Pre processing or cleansing of the data --> It is  an intermediatary stage...!

In [ ]:
how to store the data..!

In [19]:
df.to_json('new_purchases.json')

In [20]:
df.to_csv('new_purchases.csv')